-r requirements.bundle.txt

black
compare-locales
isort
jsonschema[format-nongpl]==4.17.3
jupyter_existing_provisioner
jupyterlab
mock
mypy
mypy-protobuf
pip-tools
pylint
pytest
PyChromeDevTools
scipy
seaborn
fluent.syntax
types-decorator
types-flask
types-flask-cors
types-markdown
types-orjson
types-protobuf
types-requests
types-waitress

# transitive windows dependencies
atomicwrites
colorama
