-r requirements.bundle.txt

astroid==2.13.2
black==22.12.0
compare-locales
isort
mock
mypy
mypy-protobuf
pip-tools
pylint
pytest
PyChromeDevTools
fluent.syntax
types-decorator
types-flask
types-flask-cors
types-markdown
types-orjson
types-protobuf
types-requests
types-waitress

# transitive windows dependencies
atomicwrites
colorama

dash_bio
flask
jsonschema[format-nongpl]==4.17.3
jupyter_existing_provisioner @ https://github.com/kaben/jupyter_existing_provisioner/archive/8c8facab50c1e7ab72a354b0dffe6c3d136d5e6e.zip
jupyter_dash
jupyterlab
scipy
seaborn
sympy
